<div class="grid-container">
    <app-navbar class="navbar"></app-navbar>



    <div class="content">
        <div class="teams">
            <!-- <h4 class="flex-center" style="padding-top: 0.2rem;">Leaderboard</h4> -->
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Soumyajit</td>
                        <td>10</td>
                        <td>🔴</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Soumyajit</td>
                        <td>10</td>
                        <td>🟢</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Soumyajit</td>
                        <td>10</td>
                        <td>🟢</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Soumyajit</td>
                        <td>10</td>
                        <td>🔴</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>




    <app-footer class="footer flex-center"></app-footer>
</div>