<div class="grid-container">
    <div class="login-body">
        <div class="login-body-left flex-center">
            <div class="login-body-left-top flex-center">
                <h1>Welcome!</h1>
                <p>If you have not registered... Signup!</p>
            </div>
            <div class="login-body-left-bottom flex-center">
                <img src="/assets/images/loginBodyLeft.png" alt="login-left-img">
            </div>
        </div>

        <!-- Make different Component -->
        <div class="login-body-right">
            <app-login *ngIf="!isSignup"></app-login>
            <app-signup *ngIf="isSignup"></app-signup>
        </div>
    </div>
</div>