<div class="grid-container">
    <div class="login-body">
        <div class="login-body-left flex-center">
            <div class="login-body-left-top flex-center">
                <h1>Welcome Back!</h1>
                <p>If you have already registered... login!</p>
            </div>
            <div class="login-body-left-bottom flex-center">
                <img src="/assets/images/loginBodyLeft.png" alt="login-left-img">
            </div>
        </div>

        <!-- Make different Component -->
        <div class="login-body-right">
            <div class="login-body-right-top">
                <h2>Login</h2>
            </div>
            <div class="login-body-right-middle flex-center">
                <form action="#" method="post">
                    <input type="text" name="" id="" placeholder="Username...">
                    <input type="password" name="" id="" placeholder="Password...">
                    <button type="submit" class="login-button">Login</button>
                </form>
            </div>
            <div class="login-body-right-bottom flex-center">
                <p>or</p>
                <button class="signup-button">Signup</button>
            </div>
        </div>
    </div>
</div>