<div class="login-template">
    <div class="login-template-top">
        <h2>Sign Up</h2>
    </div>
    <div class="login-template-middle flex-center">
        <form action="#" method="post">
            <input type="text" name="username" id="" placeholder="Username...">
            <input type="email" name="email" id="" placeholder="Email...">
            <input type="password" name="password" id="" placeholder="Password...">
            <button type="submit" class="login-button">Signup</button>
        </form>
    </div>
    <div class="login-template-bottom flex-center">
        <p>or</p>
        <button class="signup-button">Login</button>
    </div>
</div>