<div class="login-template">
    <div class="login-template-top">
        <h2>Login</h2>
    </div>
    <div class="login-template-middle flex-center">
        <form action="#" method="post">
            <input type="text" name="" id="" placeholder="Username...">
            <input type="password" name="" id="" placeholder="Password...">
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
    <div class="login-template-bottom flex-center">
        <p>or</p>
        <button class="signup-button">Signup</button>
    </div>
</div>